@import "tailwindcss";

@theme inline {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-300: #a5b4fc;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;

  --color-purple-100: #f3e8ff;
  --color-purple-600: #9333ea;
  --color-purple-700: #7e22ce;

  --color-green-500: #22c55e;
  --color-green-600: #16a34a;

  --color-red-500: #ef4444;
  --color-red-600: #dc2626;

  --color-blue-500: #3b82f6;

  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-500: #f59e0b;

  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;

  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-slate-900);
  background-color: var(--color-indigo-50);
}

button {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
  cursor: pointer;
}
